* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.photo-box {
  width: 400px;
  height: auto;
}
.photo-box img {
  width: 100%;
  height: auto;
}
.photo-side {
  background-color: rgb(4, 30, 53);
  width: calc(100% - 400px);
  color: white;
  padding: 10px 15px;
}
