* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col {
  width: calc(100% / 4);
  padding: 15px;
}
.card {
  text-align: center;
  box-shadow: 2px 2px 10px rgb(193, 193, 193);
  padding-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
}
.card-image {
  width: 100%;
  margin-bottom: 10px;
  height: auto;
}
