.box-1 {
  background-color: red;
  height: 200px;
  width: calc(100% / 5);
}
.box-2 {
  background-color: violet;
  height: 200px;
  width: calc(100% / 5);
}
.middle-text {
  display: inline;
  background-color: red;
  color: white;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.mp-box {
  background-color: green;
  /* border: solid 5px black; */
  height: 400px;
  width: 400px;
  color: white;
  padding: 10px;
  /* padding-left: 10px; */
  /* margin: 10px; */
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 50px black;
}
